$container: 1300px;

$transition: .3s ease-in-out;

// Colors
$color-black: #2c3e50;
$color-white: #FFF;
$color-gray: #737373;
$color-dark: #000;
$color-green: #57b727;
$color-green-2: #43941b;
$color-blue: #a9a9ff;
$color-red: #eeb4b4;
